[submodule "osf.io"]
	path = osf.io
	url = git@github.com:birdbrained/osf.io.git
    branch = next
[submodule "waterbutler"]
	path = waterbutler
	url = git@github.com:birdbrained/waterbutler
    branch = next
[submodule "modular-file-renderer"]
	path = modular-file-renderer
	url = git@github.com:birdbrained/modular-file-renderer
    branch = next
[submodule "ember-osf-web"]
	path = ember-osf-web
	url = git@github.com:birdbrained/ember-osf-web.git
    branch = next
[submodule "isp"]
	path = isp
	url = git@github.com:birdbrained/isp.git
    branch = next
[submodule "jam-setup"]
	path = jam-setup
	url = git@github.com:birdbrained/jam-setup.git
    branch = next
[submodule "jamdb"]
	path = jamdb
	url = git@github.com:birdbrained/jamdb.git
    branch = next
[submodule "experimenter"]
	path = experimenter
	url = git@github.com:birdbrained/experimenter.git
    branch = next
[submodule "cas-overlay"]
	path = cas-overlay
	url = git@github.com:birdbrained/cas-overlay.git
    branch = next
